<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="YANG IDE Target Platform" sequenceNumber="19">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.graphiti.export.feature.feature.group"/>
      <unit id="org.eclipse.graphiti.feature.examples.feature.group"/>
      <unit id="org.eclipse.graphiti.sdk.plus.feature.feature.group"/>
      <unit id="org.eclipse.graphiti.feature.feature.group"/>
      <unit id="org.eclipse.graphiti.feature.tools.feature.group"/>
      <unit id="org.eclipse.graphiti.sdk.feature.feature.group"/>
      <repository location="http://download.eclipse.org/graphiti/updates/0.12.1"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.m2e.feature.feature.group"/>
      <unit id="org.eclipse.m2e.logback.feature.feature.group"/>
      <repository location="http://download.eclipse.org/technology/m2e/releases"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.jdt.feature.group" version="3.7.2.v20120120-1414-7z8gFcuFMP7BW5XTz0jLTnz0l9B1"/>
      <unit id="org.eclipse.rcp.source.feature.group" version="3.7.2.v20120120-1424-9DB5FmnFq5JCf1UA38R-kz0S0272"/>
      <repository location="http://download.eclipse.org/releases/indigo/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.m2e.sdk.feature.feature.group" version="1.4.1.20140328-1905"/>
      <repository location="http://download.eclipse.org/technology/m2e/releases/1.4/1.4.1.20140328-1905"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.sdk.ide"/>
      <repository location="http://download.eclipse.org/eclipse/mars"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="com.google.guava" version="15.0.0.v201403281430"/>
      <unit id="com.google.guava.source" version="15.0.0.v201403281430"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.sonatype.m2e.buildhelper.feature.feature.group" version="0.15.0.201206251206"/>
      <repository location="https://repository.sonatype.org/content/repositories/forge-sites/m2e-extras/0.15.0/N/0.15.0.201206251206/"/>
    </location>
  </locations>
</target>