<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2014, 2015 Cisco Systems, Inc. and others.  All rights reserved.
     
     This program and the accompanying materials are made available under the
     terms of the Eclipse Public License v1.0 which accompanies this distribution,
     and is available at http://www.eclipse.org/legal/epl-v10.html
     
 -->
<!--                                                                                -->
<!-- This program and the accompanying materials are made available under the       -->
<!-- terms of the Eclipse Public License v1.0 which accompanies this distribution,  -->
<!-- and is available at http://www.eclipse.org/legal/epl-v10.html                  -->
<!-- ============================================================================== -->
<plugin>
    <extension point="org.eclipse.ui.contexts">
       <context
             id="com.cisco.yangide.ui.Context"
             name="YANG Editor"
             parentId="org.eclipse.ui.textEditorScope"/>
    </extension>
    
    <extension point="org.eclipse.ui.commands">
      <category
           name="Source"
           description="YANG Source Actions"
           id="com.cisco.yangide.category.source">
      </category>
      <category
           name="Navigate"
           description="YANG Navigate Actions"
           id="com.cisco.yangide.category.navigate">
      </category>
      <category
           name="Search"
           description="YANG Search Actions"
           id="com.cisco.yangide.category.search">
      </category>
    </extension>
    
    <extension point="org.eclipse.ui.newWizards">
      <category id="com.cisco.yangide.yang" name="%yang.wizard.category.name"/>

      <wizard id="com.cisco.yangide.ui.wizards.YangProjectWizard"
            category="com.cisco.yangide.yang"
            class="com.cisco.yangide.ui.wizards.YangProjectWizard"
            icon="icons/full/etool16/newprj_wiz.png"
            name="%yang.wizard.project.name"
            project="true">
         <description>%yang.wizard.project.description</description>
      </wizard>

      <wizard id="com.cisco.yangide.ui.wizards.YangFileWizard"
            category="com.cisco.yangide.yang"
            class="com.cisco.yangide.ui.wizards.YangFileWizard"
            icon="icons/full/etool16/newfile_wiz.png"
            name="%yang.wizard.file.name"
            project="false">
         <description>%yang.wizard.file.description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
    </extension>
   
    <extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.cisco.yangide.ui.internal.preferences.YangUIPreferenceInitializer">
      </initializer>
    </extension>
    
    <extension point="org.eclipse.ui.preferencePages">
      <page
            class="com.cisco.yangide.ui.internal.preferences.YangBasePreferencePage"
            id="com.cisco.yangide.ui.preferences.YANGBasePreferencePage"
            name="YANG">
      </page>
    </extension>
</plugin>
