<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2014, 2015 Cisco Systems, Inc. and others.  All rights reserved.
     
     This program and the accompanying materials are made available under the
     terms of the Eclipse Public License v1.0 which accompanies this distribution,
     and is available at http://www.eclipse.org/legal/epl-v10.html
     
 -->
<!--                                                                                -->
<!-- This program and the accompanying materials are made available under the       -->
<!-- terms of the Eclipse Public License v1.0 which accompanies this distribution,  -->
<!-- and is available at http://www.eclipse.org/legal/epl-v10.html                  -->
<!-- ============================================================================== -->
<plugin>
   <extension-point id="actionGroup" name="actionGroup" schema="schema/actionGroup.exsd"/>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.cisco.yangide.editor.editors.YangEditor" 
            default="true"
            contributorClass="com.cisco.yangide.editor.editors.YangEditorActionContributor"
            extensions="yang"
            icon="icons/yang_file.png"
            id="com.cisco.yangide.editor.editors.YANGEditor"
            name="YANG Editor">
            <contentTypeBinding contentTypeId="com.cisco.yangide.core.yangFile"/>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.cisco.yangide.ui.preferences.YANGBasePreferencePage"
            class="com.cisco.yangide.editor.preferences.YangEditorColoringPreferencePage"
            id="com.cisco.yangide.editor.preferences.YANGEditorColoringPreferencePage"
            name="Syntax Coloring">
      </page>
      <page
            category="com.cisco.yangide.ui.preferences.YANGBasePreferencePage"
            class="com.cisco.yangide.editor.templates.YangEditorTemplatesPage"
            id="com.cisco.yangide.editor.templates.YANGEditorTemplatesPage"
            name="Templates">
      </page>
      <page
            category="com.cisco.yangide.ui.preferences.YANGBasePreferencePage"
            class="com.cisco.yangide.editor.preferences.YangFormatterPreferencePage"
            id="com.cisco.yangide.editor.preferences.YangFormatterPreferencePage"
            name="Formatter">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="com.cisco.yangide.editor.templates.GeneralContextType"
            id="com.cisco.yangide.editor.templates.general"
            name="General">
      </contextType>
      <include
            file="templates/yang.xml"
            translations="templates/yang.xml">
      </include>
   </extension>   
   
    <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
           activate="true"
           class="com.cisco.yangide.editor.editors.YangElementHyperlinkDetector"
           description="A hyperlink detector for Yang source code elements"
           id="com.cisco.yangide.editor.YangElementHyperlinkDetector"
           name="Yang Element"
           targetId="com.cisco.yangide.yang.sourceFiles">
      </hyperlinkDetector>
    </extension>
   
    <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
           id="com.cisco.yangide.yang.sourceFiles"
           name="Yang Editor">
        <context type="com.cisco.yangide.editor.editors.YangEditor"/>
      </target>
   </extension>
   
   <extension point="org.eclipse.ui.commands">
       <command 
           categoryId="com.cisco.yangide.category.navigate" 
           id="com.cisco.yangide.navigate.open.declaration"
           name="Open Declaration"/>
     
      <command
            categoryId="com.cisco.yangide.category.source"
            id="com.cisco.yangide.actions.format"
            name="Format">
      </command>
      
      <command
            categoryId="com.cisco.yangide.category.source"
            id="com.cisco.yangide.actions.toggle.comment"
            name="Toggle comment">
      </command>
      <command
            categoryId="com.cisco.yangide.category.source"
            id="com.cisco.yangide.actions.add.block.comment"
            name="Add Block comment">
      </command>
      <command
            categoryId="com.cisco.yangide.category.source"
            id="com.cisco.yangide.actions.remove.block.comment"
            name="Remove Block comment">
      </command>
     
   </extension>
    
    <extension point="org.eclipse.ui.bindings">
        <key
            commandId="com.cisco.yangide.navigate.open.declaration"
            contextId="com.cisco.yangide.ui.Context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3"/>
       
        <key
            commandId="com.cisco.yangide.actions.toggle.comment"
            contextId="com.cisco.yangide.ui.Context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+/"/>
        <key
            commandId="com.cisco.yangide.actions.toggle.comment"
            contextId="com.cisco.yangide.ui.Context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+C"/>
        <key
            commandId="com.cisco.yangide.actions.add.block.comment"
            contextId="com.cisco.yangide.ui.Context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+/"/>
        <key
            commandId="com.cisco.yangide.actions.remove.block.comment"
            contextId="com.cisco.yangide.ui.Context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+\"/>
            
        <key
            sequence="M1+M2+F"
            contextId="com.cisco.yangide.ui.Context"
            commandId="com.cisco.yangide.actions.format"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/> 
    </extension>
    
     <extension point="org.eclipse.ui.actionSets">
        <actionSet
            id="com.cisco.yangide.editor.CodingActionSet" 
            label="Source">
          <menu
                id="com.cisco.yangide.editor.source.menu"
                label="%Source"
                path="edit">
             <separator name="commentGroup"/>
             <separator name="shiftGroup"/>
             <separator name="formatGroup"/>
          </menu>
           <action
                allowLabelUpdate="true"
                definitionId="com.cisco.yangide.navigate.open.declaration"
                id="com.cisco.yangide.editor.actions.OpenDeclaration"
                label="Open Declaration"
                menubarPath="navigate/open.ext"
                retarget="true">
          </action>
          <action
                allowLabelUpdate="true"
                definitionId="com.cisco.yangide.actions.remove.block.comment"
                id="com.cisco.yangide.editor.actions.RemoveBlockComment"
                label="Remove Block Comment"
                menubarPath="com.cisco.yangide.editor.source.menu/commentGroup"
                retarget="true">
          </action>
          <action
                allowLabelUpdate="true"
                definitionId="com.cisco.yangide.actions.add.block.comment"
                id="com.cisco.yangide.editor.actions.AddBlockComment"
                label="Add Block Comment"
                menubarPath="com.cisco.yangide.editor.source.menu/commentGroup"
                retarget="true">
          </action>
          <action
                allowLabelUpdate="true"
                definitionId="com.cisco.yangide.actions.toggle.comment"
                id="com.cisco.yangide.editor.actions.ToggleComment"
                label="Toggle Comment"
                menubarPath="com.cisco.yangide.editor.source.menu/commentGroup"
                retarget="true">
          </action>
            <action 
                id="com.cisco.yangide.editor.actions.shiftLeft" 
                definitionId="org.eclipse.ui.edit.text.shiftLeft"
                menubarPath="com.cisco.yangide.editor.source.menu/shiftGroup"
                label="Shift Left"
                retarget="true">
            </action>
            <action 
                id="com.cisco.yangide.editor.actions.shiftRight" 
                definitionId="org.eclipse.ui.edit.text.shiftRight"
                menubarPath="com.cisco.yangide.editor.source.menu/shiftGroup"
                label="Shift Right"
                retarget="true">
            </action>
          <action
                allowLabelUpdate="true"
                definitionId="com.cisco.yangide.actions.format"
                id="com.cisco.yangide.editor.actions.FormatDocument"
                label="Format"
                menubarPath="com.cisco.yangide.editor.source.menu/formatGroup"
                retarget="true">
          </action>
       </actionSet>
    </extension>
    
    <extension point="org.eclipse.ui.menus">
        <!-- Contribute a Open meno for popup-->
        <menuContribution locationURI="popup:org.eclipse.ui.popup.any?endof=group.open">
            <command id="OpenDeclaration"
                commandId="com.cisco.yangide.navigate.open.declaration"
                style="push">
                <visibleWhen checkEnabled="false"><reference definitionId="com.cisco.yangide.activeContext.definition"/></visibleWhen>
            </command>
        </menuContribution>
    
        <!-- Contribute a Source menu for popup -->
         <menuContribution locationURI="popup:org.eclipse.ui.popup.any?before=group.find">
            <menu id="sourceMenuId" label="%Source">
                <command id="ToggleComment"
                    commandId="com.cisco.yangide.actions.toggle.comment"
                    style="push">
                    <visibleWhen checkEnabled="false"><reference definitionId="com.cisco.yangide.activeContext.definition"/></visibleWhen>
                </command>
                <command id="AddBlockComment"
                    commandId="com.cisco.yangide.actions.add.block.comment"
                    style="push">
                    <visibleWhen checkEnabled="false"><reference definitionId="com.cisco.yangide.activeContext.definition"/></visibleWhen>
                </command>
                <command id="RemoveBlockComment"
                    commandId="com.cisco.yangide.actions.remove.block.comment"
                    style="push">
                    <visibleWhen checkEnabled="false"><reference definitionId="com.cisco.yangide.activeContext.definition"/></visibleWhen>
                </command>
                
                <separator name="format" visible="true"></separator>
                
                <command id="FormatDocument"
                    commandId="com.cisco.yangide.actions.format" 
                    style="push">
                    <visibleWhen checkEnabled="false"><reference definitionId="com.cisco.yangide.activeContext.definition"/></visibleWhen>
                </command>
            </menu>
        </menuContribution>
    </extension>
    
    <extension point="org.eclipse.ui.actionSetPartAssociations">
       <actionSetPartAssociation targetID="com.cisco.yangide.editor.CodingActionSet">
          <part id="com.cisco.yangide.editor.editors.YANGEditor"/>
       </actionSetPartAssociation>
    </extension>
   
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="com.cisco.yangide.activeContext.definition">
            <with variable="activeContexts">
               <iterate operator="or">
                  <equals value="com.cisco.yangide.ui.Context"/>
               </iterate>
            </with>
        </definition>
    </extension>
    
    <extension point="org.eclipse.compare.contentViewers">
        <viewer
            id="com.cisco.yangide.editor.compare.YangFileViewer" 
            extensions="yang"
            class="com.cisco.yangide.editor.compare.YangFileViewerCreator"/>

        <contentTypeBinding 
            contentTypeId="com.cisco.yangide.core.yangFile" 
            contentViewerId="com.cisco.yangide.editor.compare.YangFileViewer"/>
    </extension>
    
    <extension point="org.eclipse.compare.contentMergeViewers">
        <viewer 
            id="com.cisco.yangide.editor.compare.YangFileMergeViewer" 
            extensions="yang"
            label="YANG File Merge Viewer"
            class="com.cisco.yangide.editor.compare.YangFileMergeViewerCreator"/>

        <contentTypeBinding
            contentTypeId="com.cisco.yangide.core.yangFile"
            contentMergeViewerId="com.cisco.yangide.editor.compare.YangFileMergeViewer"/>
    </extension>    
</plugin>
