<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="YANG Editor"
            extensions="yang"
            icon="icons/yang_file.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.cisco.yangide.editor.editors.YangEditor"
            id="com.cisco.yangide.editor.editors.YANGEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.cisco.yangide.ui.preferences.YANGBasePreferencePage"
            class="com.cisco.yangide.editor.preferences.YangEditorColoringPreferencePage"
            id="com.cisco.yangide.editor.preferences.YANGEditorColoringPreferencePage"
            name="Syntax Coloring">
      </page>
      <page
            category="com.cisco.yangide.ui.preferences.YANGBasePreferencePage"
            class="com.cisco.yangide.editor.templates.YangEditorTemplatesPage"
            id="com.cisco.yangide.editor.templates.YANGEditorTemplatesPage"
            name="Templates">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="com.cisco.yangide.editor.templates.GeneralContextType"
            id="com.cisco.yangide.editor.templates.general"
            name="General">
      </contextType>
      <include
            file="templates/yang.xml"
            translations="templates/yang.xml">
      </include>
      <template
            autoinsert="true"
            contextTypeId="com.cisco.yangide.editor.templates.general"
            id="com.cisco.yangide.editor.template1"
            name="organizationContributed">
         <pattern>
            bla bla &quot;${author}&quot;
&quot;${cursor}&quot;
         </pattern>
      </template>
   </extension>   
   
    <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
           activate="true"
           class="com.cisco.yangide.editor.editors.YangElementHyperlinkDetector"
           description="A hyperlink detector for Yang source code elements"
           id="com.cisco.yangide.editor.YangElementHyperlinkDetector"
           name="Yang Element"
           targetId="com.cisco.yangide.yang.sourceFiles">
      </hyperlinkDetector>
    </extension>
   
    <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
           id="com.cisco.yangide.yang.sourceFiles"
           name="Yang Editor">
        <context type="com.cisco.yangide.editor.editors.YangEditor"/>
      </target>
   </extension>
   
   <extension point="org.eclipse.ui.commands">
      <command 
           name="Open Declaration" 
           description="Open an editor on the selected element"
           categoryId="com.cisco.yangide.category.navigate" 
           defaultHandler="com.cisco.yangide.editor.handlers.OpenDeclarationHandler" 
           id="com.cisco.yangide.navigate.open.declaration" />
   </extension>
    
    <extension point="org.eclipse.ui.bindings">
      <key
           sequence="F3"
           contextId="com.cisco.yangide.ui.Context"
           commandId="com.cisco.yangide.navigate.open.declaration"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
    </extension>
    
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?endof=group.open">
                <command
                    commandId="com.cisco.yangide.navigate.open.declaration" 
                    label="Open Declaration"
                    style="toggle">
                <visibleWhen checkEnabled="true">
                    <with variable="activeEditor">
                        <instanceof value="com.cisco.yangide.editor.editors.YangEditor"/>
                    </with>
                </visibleWhen>
                </command>
        </menuContribution>
    </extension>      
</plugin>
