<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!-- ============================================================================== -->
<!-- Copyright (c) 2014 Cisco Systems, Inc. and others.  All rights reserved.       -->
<!--                                                                                -->
<!-- This program and the accompanying materials are made available under the       -->
<!-- terms of the Eclipse Public License v1.0 which accompanies this distribution,  -->
<!-- and is available at http://www.eclipse.org/legal/epl-v10.html                  -->
<!-- ============================================================================== -->
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.cisco.yangide.editor.editors.YangEditor"
            contributorClass="com.cisco.yangide.editor.editors.YangEditorActionContributor"
            extensions="yang"
            icon="icons/yang_file.png"
            id="com.cisco.yangide.editor.editors.YANGEditor"
            name="YANG Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.cisco.yangide.ui.preferences.YANGBasePreferencePage"
            class="com.cisco.yangide.editor.preferences.YangEditorColoringPreferencePage"
            id="com.cisco.yangide.editor.preferences.YANGEditorColoringPreferencePage"
            name="Syntax Coloring">
      </page>
      <page
            category="com.cisco.yangide.ui.preferences.YANGBasePreferencePage"
            class="com.cisco.yangide.editor.templates.YangEditorTemplatesPage"
            id="com.cisco.yangide.editor.templates.YANGEditorTemplatesPage"
            name="Templates">
      </page>
      <page
            category="com.cisco.yangide.ui.preferences.YANGBasePreferencePage"
            class="com.cisco.yangide.editor.preferences.YangFormatterPreferencePage"
            id="com.cisco.yangide.editor.preferences.YangFormatterPreferencePage"
            name="Formatter">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="com.cisco.yangide.editor.templates.GeneralContextType"
            id="com.cisco.yangide.editor.templates.general"
            name="General">
      </contextType>
      <include
            file="templates/yang.xml"
            translations="templates/yang.xml">
      </include>
   </extension>   
   
    <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
           activate="true"
           class="com.cisco.yangide.editor.editors.YangElementHyperlinkDetector"
           description="A hyperlink detector for Yang source code elements"
           id="com.cisco.yangide.editor.YangElementHyperlinkDetector"
           name="Yang Element"
           targetId="com.cisco.yangide.yang.sourceFiles">
      </hyperlinkDetector>
    </extension>
   
    <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
           id="com.cisco.yangide.yang.sourceFiles"
           name="Yang Editor">
        <context type="com.cisco.yangide.editor.editors.YangEditor"/>
      </target>
   </extension>
   
   <extension point="org.eclipse.ui.commands">
      <command 
           name="Open Declaration" 
           description="Open an editor on the selected element"
           categoryId="com.cisco.yangide.category.navigate" 
           defaultHandler="com.cisco.yangide.editor.handlers.OpenDeclarationHandler" 
           id="com.cisco.yangide.navigate.open.declaration" />
      <command
            categoryId="com.cisco.yangide.category.source"
            id="com.cisco.yangide.actions.toggle.comment"
            name="Toggle comment">
      </command>
      <command
            categoryId="com.cisco.yangide.category.source"
            id="com.cisco.yangide.actions.add.block.comment"
            name="Add Block comment">
      </command>
      <command
            categoryId="com.cisco.yangide.category.source"
            id="com.cisco.yangide.actions.remove.block.comment"
            name="Remove Block comment">
      </command>
   </extension>
    
    <extension point="org.eclipse.ui.bindings">
        <key
            commandId="com.cisco.yangide.navigate.open.declaration"
            contextId="com.cisco.yangide.ui.Context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3"/>
        <key
            commandId="com.cisco.yangide.actions.toggle.comment"
            contextId="com.cisco.yangide.ui.Context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+/"/>
        <key
            commandId="com.cisco.yangide.actions.toggle.comment"
            contextId="com.cisco.yangide.ui.Context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+C"/>
        <key
            commandId="com.cisco.yangide.actions.add.block.comment"
            contextId="com.cisco.yangide.ui.Context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+/"/>
        <key
            commandId="com.cisco.yangide.actions.remove.block.comment"
            contextId="com.cisco.yangide.ui.Context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+\"/>
        <key
            sequence="M1+M2+F"
            contextId="com.cisco.yangide.ui.Context"
            commandId="org.eclipse.jdt.ui.edit.text.java.format"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/> 
    </extension>
    
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?endof=group.open">
                <command
                    commandId="com.cisco.yangide.navigate.open.declaration" 
                    label="Open Declaration"
                    style="toggle">
                <visibleWhen checkEnabled="true">
                    <with variable="activeEditor">
                        <instanceof value="com.cisco.yangide.editor.editors.YangEditor"/>
                    </with>
                </visibleWhen>
                </command>
        </menuContribution>
        <menuContribution
            locationURI="popup:#TextEditorContext?endof=group.edit">
                <command
                      commandId="com.cisco.yangide.actions.toggle.comment"
                      label="Toggle Comment"
                      style="toggle">
                </command>
        </menuContribution>
    </extension>

    <extension
          point="org.eclipse.ui.actionSets">
       <actionSet
             description="CodingActionSet Description"
             id="com.cisco.yangide.editor.CodingActionSet"
             label="CodingActionSet">
          <menu
                id="com.cisco.yangide.editor.source.menu"
                label="&amp;Source"
                path="edit">
             <separator
                   name="commentGroup">
             </separator>
          </menu>
          <action
                allowLabelUpdate="true"
                definitionId="com.cisco.yangide.actions.remove.block.comment"
                id="com.cisco.yangide.editor.actions.RemoveBlockComment"
                label="Remove Block Comment"
                menubarPath="com.cisco.yangide.editor.source.menu/commentGroup"
                retarget="true">
          </action>
          <action
                allowLabelUpdate="true"
                definitionId="com.cisco.yangide.actions.add.block.comment"
                id="com.cisco.yangide.editor.actions.AddBlockComment"
                label="Add Block Comment"
                menubarPath="com.cisco.yangide.editor.source.menu/commentGroup"
                retarget="true">
          </action>
          <action
                allowLabelUpdate="true"
                definitionId="com.cisco.yangide.actions.toggle.comment"
                id="com.cisco.yangide.editor.actions.ToggleComment"
                label="Toggle Comment"
                menubarPath="com.cisco.yangide.editor.source.menu/commentGroup"
                retarget="true">
          </action>
       </actionSet>
    </extension>
    <extension
          point="org.eclipse.ui.actionSetPartAssociations">
       <actionSetPartAssociation
             targetID="com.cisco.yangide.editor.CodingActionSet">
          <part
                id="com.cisco.yangide.editor.editors.YANGEditor">
          </part>
       </actionSetPartAssociation>
    </extension>

</plugin>
