<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2014, 2015 Cisco Systems, Inc. and others.  All rights reserved.
     
     This program and the accompanying materials are made available under the
     terms of the Eclipse Public License v1.0 which accompanies this distribution,
     and is available at http://www.eclipse.org/legal/epl-v10.html
     
 -->
<!--                                                                                -->
<!-- This program and the accompanying materials are made available under the       -->
<!-- terms of the Eclipse Public License v1.0 which accompanies this distribution,  -->
<!-- and is available at http://www.eclipse.org/legal/epl-v10.html                  -->
<!-- ============================================================================== -->
<plugin>
   <extension point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="com.cisco.yangide.m2e.yang.YangProjectConfigurator"
            id="com.cisco.yangide.m2e.yang.YangProjectConfigurator"
            name="YANG Project Configurator"/>
   </extension>

   <extension point="org.eclipse.m2e.core.mavenProjectChangedListeners">
      <listener class="com.cisco.yangide.m2e.yang.MavenProjectChangedListener"/>
   </extension>

   <extension
         point="org.eclipse.m2e.core.lifecycleMappings">
      <lifecycleMapping
            name="YANG Lifecycle Mapping"
            class="com.cisco.yangide.m2e.yang.LifecycleMapping"
            id="org.eclipse.m2e.jdt.JarLifecycleMapping">
      </lifecycleMapping>
   </extension>

   <extension
         point="org.eclipse.m2e.core.lifecycleMappings">
      <lifecycleMapping
            name="YANG Lifecycle Mapping"
            class="com.cisco.yangide.m2e.yang.LifecycleMapping"
            id="DEFAULT">
      </lifecycleMapping>
   </extension>
   <extension point="org.eclipse.m2e.core.lifecycleMappingMetadataSource"/>
</plugin>
